<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>SUPublicEDKey</key>
	<string>jWGEIVTzvuMF4HvzWDFiqo97DN9/JiGq/uz5SWWkdnY=</string>
	<key>SUNormalizeDeltaUpdates</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://minkyojung.github.io/bttrfly-updates/appcast.xml</string>
	<key>UIAppFonts</key>
	<array>
		<string>PretendardVariable.ttf</string>
	</array>
	<key>MixpanelToken</key>
	<string>$(MIXPANEL_TOKEN)</string>
	<key>CFBundleIdentifier</key>
	<string>williamjung.bttrfly</string>
</dict>
</plist>
